@import "../scss/mixins";

.contenedorC{

  display: flex;
  flex-direction: column;
justify-content: center;
  width: 100%;

  main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
   
  
  .benefict{
background-color: rgba(253, 248, 248, 0.484);
border-bottom: 3px solid white;
border-radius: 50px;
backdrop-filter: blur(10px); 
width: 250px;
height:250px;
margin: 0 1rem;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
padding-top: 2rem;
box-shadow: 0px 2px 15px 1px rgba(255, 255, 255, 0.944);



i{
padding-bottom: 6px;
color: $robin_egg_blue;
font-size: 25px;


}
h5{
@include fuente(18px,bold,$rich_black,2px);
padding: 5px 10px;
}

h6{
  @include fuente(12px,lighter,$rich_black,2px);
  padding: 20px;
  line-height: 1.5;
}
  }
  }
  h2{
    @include fuente(50px,lighter,3px,$rich_black);
    padding-top: 2rem;
    padding-left: 4rem;
    text-transform: uppercase;
    font-family: $bebas-neue-regular;
   }

  .contenedorCa{
 display: flex;
  align-items: center;
  justify-content: center;
  
   
 .card{
  display: flex;
  justify-content: center;
  height: 250px;
  width: 250px;
  margin: 4rem 1.5rem;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  box-shadow: 1px 2px 20px 1px rgb(0, 0, 0);
  cursor:url(../scss/assets/cursor.png), auto;  

  &:hover{
    transform: scale(1.1);
    top: 0;
    bottom: 0;
    .info {
      top: 0; 
    
    }
    }

   
  img{
 
    @include imagen(300px,250px,50px,relative);
    
  }

 }

.info{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position:absolute;
  background-color:#58383754;
  border-radius: 50px;
  width: 100%;
  height: 100%;
  top: -100%;
  transition: 1s ease-in-out;
  

 h5{
@include fuente(35px,bold,$robin_egg_blue,2px);
padding-left: 8px;
 }
 h6{
  @include fuente(30px,lighter,white,2px);
  padding-left: 8px;
 
 }
 }
  }
}