@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$savoy_blue:#6369D1;
$celestial_blue:#4AA1D5;
$robin_egg_blue:#31D8D8;
$rose_quartz:#AA9DBE;
$rose_ebony:#583837;
$raisin_black:#372a2fbe;
$rich_black:#161c27;


$bebas-neue-regular: "Bebas Neue", serif;
    
  



