@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-image: url(https://images.pexels.com/photos/592753/pexels-photo-592753.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-size: cover;
  box-shadow: 0px 2px 20px 22px rgba(12, 12, 12, 0.944);
}
.navbar .navbarb {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  background-color: rgba(0, 0, 0, 0.285);
  height: 5rem;
  width: 100%;
  list-style: none;
  position: fixed;
  z-index: 1;
}
.navbar .navbarb li {
  padding: 0 1.5rem;
  margin-left: 10px;
  font-family: "Bebas Neue", serif;
}
.navbar .logo {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  width: 30%;
  display: flex;
  align-items: center;
}
.navbar .logo li {
  padding: 0;
  margin: 6px;
  font-family: "Bebas Neue", serif;
}
.navbar .logo i {
  padding-left: 2rem;
}
.navbar .navbarn {
  display: flex;
  justify-content: center;
  width: 70%;
}

.header {
  display: flex;
  width: 100%;
  height: 100vh;
}
.header .right {
  width: 50%;
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.header .right h1 {
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
  max-width: 90%;
  padding-left: 10%;
  line-height: 1.5;
  margin-top: 5rem;
  font-family: "Bebas Neue", serif;
}
.header .right p {
  max-width: 90%;
  color: aliceblue;
  padding-left: 10%;
  line-height: 2;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  margin-top: 1rem;
}
.header .right button {
  border-radius: 50px;
  position: relative;
  padding: 1rem;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
  background-color: rgba(55, 42, 47, 0.7450980392);
  border: none;
  margin-top: 2rem;
  margin-left: 10%;
  position: relative;
  overflow: hidden;
}
.header .right button::before {
  content: "MAS INDORMACION ";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5176470588);
  top: 0;
  right: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  transition: 0.7s ease-in-out;
}
.header .right button:hover::before {
  right: 0;
  border: 2px solid white;
}
.header .left {
  width: 50%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.header .left img {
  margin: 4px;
}
.header .left img[class$="1"] {
  height: 300px;
  width: 200px;
  border-radius: 10px;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 8px 19px 44px 14px rgb(0, 0, 0);
  bottom: 20%;
  left: 10%;
}
.header .left img[class$="2"] {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 8px 19px 44px 14px rgb(0, 0, 0);
  right: 20%;
  bottom: 45%;
}
.header .left img[class$="3"] {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 8px 19px 44px 14px rgb(0, 0, 0);
  right: 20%;
  bottom: 8%;
}

.contenedorC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.contenedorC main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
}
.contenedorC main .benefict {
  background-color: rgba(253, 248, 248, 0.484);
  border-bottom: 3px solid white;
  border-radius: 50px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 250px;
  height: 250px;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 2rem;
  box-shadow: 0px 2px 15px 1px rgba(255, 255, 255, 0.944);
}
.contenedorC main .benefict i {
  padding-bottom: 6px;
  color: #31D8D8;
  font-size: 25px;
}
.contenedorC main .benefict h5 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #161c27;
  padding: 5px 10px;
}
.contenedorC main .benefict h6 {
  font-size: 12px;
  font-weight: lighter;
  letter-spacing: 2px;
  color: #161c27;
  padding: 20px;
  line-height: 1.5;
}
.contenedorC h2 {
  font-size: 50px;
  font-weight: lighter;
  letter-spacing: #161c27;
  color: 3px;
  padding-top: 2rem;
  padding-left: 4rem;
  text-transform: uppercase;
  font-family: "Bebas Neue", serif;
}
.contenedorC .contenedorCa {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedorC .contenedorCa .card {
  display: flex;
  justify-content: center;
  height: 250px;
  width: 250px;
  margin: 4rem 1.5rem;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  box-shadow: 1px 2px 20px 1px rgb(0, 0, 0);
  cursor: url(../scss/assets/cursor.png), auto;
}
.contenedorC .contenedorCa .card:hover {
  transform: scale(1.1);
  top: 0;
  bottom: 0;
}
.contenedorC .contenedorCa .card:hover .info {
  top: 0;
}
.contenedorC .contenedorCa .card img {
  height: 300px;
  width: 250px;
  border-radius: 50px;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
.contenedorC .contenedorCa .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(88, 56, 55, 0.3294117647);
  border-radius: 50px;
  width: 100%;
  height: 100%;
  top: -100%;
  transition: 1s ease-in-out;
}
.contenedorC .contenedorCa .info h5 {
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #31D8D8;
  padding-left: 8px;
}
.contenedorC .contenedorCa .info h6 {
  font-size: 30px;
  font-weight: lighter;
  letter-spacing: 2px;
  color: white;
  padding-left: 8px;
}

.t2 {
  font-family: "Bebas Neue", serif;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 5px;
  color: #161c27;
  padding-top: 3rem;
}

.contenedorV {
  display: flex;
  justify-content: center;
  padding: 2rem 5rem;
  font-family: "Bebas Neue", serif;
}
.contenedorV .rigth {
  padding: 1.5rem;
  width: 50%;
  height: auto;
}
.contenedorV .rigth img {
  height: auto;
  width: 100%;
  border-radius: 50px;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
.contenedorV h3 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #161c27;
  padding-left: 5px;
}
.contenedorV h5 {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #583837;
  line-height: 1.5;
  padding-left: 5px;
}
.contenedorV h6 {
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(66, 65, 65);
  line-height: 1.5;
  padding-left: 5px;
}
.contenedorV p {
  font-size: 13px;
  font-weight: line-height;
  letter-spacing: 1px;
  color: rgba(55, 42, 47, 0.7450980392);
  line-height: 1.5;
  padding-left: 5px;
}
.contenedorV .left {
  width: 50%;
  height: auto;
}
.contenedorV .left .articulo {
  padding: 10px;
  display: flex;
  align-items: center;
}
.contenedorV .left .articulo img {
  height: auto;
  width: 180px;
  border-radius: 20px;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
.contenedorV .left .divC {
  padding: 4px;
  line-height: 1.5;
}
.contenedorV .left .divC h3 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #161c27;
}
.contenedorV .left .divC h5 {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #583837;
}
.contenedorV .left .divC h6 {
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(66, 65, 65);
}
.contenedorV .left .divC p {
  font-size: 12px;
  font-weight: line-height;
  letter-spacing: 1px;
  color: rgba(55, 42, 47, 0.7450980392);
}

.contenedorOp {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}
.contenedorOp .left {
  width: 40%;
  padding: 2rem 0 6rem 0;
}
.contenedorOp .left span {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.contenedorOp .left span img {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  padding-right: 10px;
}
.contenedorOp .left i {
  color: rgb(230, 147, 14);
  font-size: 10px;
  line-height: 1;
}
.contenedorOp .left h4 {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  color: black;
  line-height: 2;
}
.contenedorOp .left p {
  font-size: 13px;
  font-weight: lighter;
  letter-spacing: 2px;
  color: black;
  line-height: 1.5;
}
.contenedorOp .right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedorOp .right .l {
  display: flex;
  width: -moz-min-content;
  width: min-content;
  align-items: center;
  justify-content: center;
  padding-right: 1rem;
}
.contenedorOp .right .l img {
  width: 250px;
  height: 300px;
  border-radius: 50px;
}
.contenedorOp .right .r {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 300px;
  position: relative;
}
.contenedorOp .right .r video {
  width: 100%;
  border-radius: 40px;
  height: -moz-max-content;
  height: max-content;
  padding: 8px 0;
}
.contenedorOp .right .r h4 {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 3px;
  color: black;
  padding-left: 5px;
  text-align: center;
}
.contenedorOp .right .r button {
  position: absolute;
  width: 40%;
  right: 0;
  bottom: 0;
  padding: 10px;
  border-radius: 50px;
  border: 2px solid #583837;
  letter-spacing: 2px;
  transition: 0.4s ease-in-out;
}
.contenedorOp .right .r button:hover {
  background-color: #583837;
  color: wheat;
}

* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=styles.css.map */