@import "../scss/variables";
@import "../scss/header";
@import"../scss/contenedorC";
@import"../scss/contenedorV";
@import "../scss/contenedorOp";


*{
box-sizing:content-box;
margin: 0;
padding: 0;
    
}
